{% extends 'base.html'%}
{% block title%}
{% endblock%}
{% block body%}
<div class="container">
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}
        <h1>Please Login</h1>
        {{form.email_address.label()}}
        {{form.email_address(class="form-control", placeholder="Username")}}

        {{form.password.label()}}
        {{form.password(class="form-control", placeholder="Password", type="password")}}

        <br>
        <div class="check-box mb-3">
            <h6>Do not have an account?</h6>
            {{form.submit(class="btn btn-lg btn-block btn-primary")}}
            <a class="btn btn-sm btn-secondary" href="{{url_for('register_page')}}">Register</a>
        </div>
    </form>
</div>



{% endblock%}