{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
    
{%block body%} 

<div class="container">
  <form method="POST" class="form-register">
        {{ form.hidden_tag() }}
        <h1>Please create your account</h1>

        {{form.email_address.label()}}
        {{form.email_address(class="form-control", placeholder="Email")}}

        {{form.password1.label()}}
        {{form.password1(class="form-control", placeholder="Password")}}

        {{form.password2.label()}}
        {{form.password2(class="form-control", placeholder="Verify password")}}
        <br>
        <div class="check-box mb-3">
            <h6>Already have an account?</h6>
            {{form.submit(class="btn btn-lg btn-block btn-primary")}}
            <a class="btn btn-sm btn-secondary" href="{{url_for('login_page')}}">Login</a>
        
        </div>
    </form> 
  </div>  

{% endblock %}